{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <h5>Bienvenido, {{ user.username }}</h5>
        
    {% endif %}

    <h2 class="text-center">Aquí están las últimas recetas</h2>

    <div class="d-flex flex-wrap justify-content-center">
        {% for post in posts %}
            <div class="card" style="width: 18rem; margin: 10px;">
                {% if post.imagen %}
                    <img src="{{ post.imagen.url }}" class="card-img-top" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.titulo }}</h5>
                    <p class="card-text">{{ post.fecha_creacion }}</p>
                    <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">
                        {{ post.contenido }}
                    </p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        {% empty %}
            <div style="min-height: 200px;">
                <h3 class="text-center">Lo lamentamos, aún no hay nada para mostrar</h3>
            </div>
        {% endfor %}
    </div>

{% endblock %}